.body1 
{
background-image: url('../images/mikek.jpg');
background-attachment: fixed;
background-size: contain;
height: 100%;
}


.home
{
   
text-align: center;
margin:20% 0%; 
border: 2px solid cyan;
padding: 22px;
background-color: white;
opacity: 0.6;
border-radius: 27px;
font-style: bold;
}

.polaroid1 {
    width: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .container1 {
    text-align: center;
    padding: 10px 20px;
  }

  * {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.projects,.skills{
    text-align: center;
    background-color: white;
    padding: 0px,30px,30px, 30px;
    margin: 30px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
ol{
    list-style-type:none;
}
.heading{
    border: 1px dotted grey;
    border-radius: 50px;
    background-color: beige;
    padding: 5px;
}

p{
    font-size: 25px;
}
@media screen and (max-width:1000px){
    .col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
.home{
    font-style: normal;
}

[class*="col-"] {
    float: none;
    
}
.home{
    margin: 50% 0% 0% 0% ;
}


.layer{
    padding:100px 0% 0% 1%;

}
}
.layer{
    padding:2px 0% 0% 1%;

}

